################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyBlogFinal/FileContentIndex/19e2075d-95d2-477d-b65b-8762d6987424.vsidx
